{{ define "main" }}
  <article class="cf pa3 pa4-ns center w-100 w-70-ns f4 lh-copy mid-gray">
    {{ .Content }}
  </article>
  {{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
  {{ $mainSections := .Site.Params.mainSections | default (slice "article") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{/* Check to see if the section is defined for ranging through it */}}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}

    <div class="pa3 pa4-ns w-100 w-70-ns center">
      {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
       {{ with .Site.GetPage "section" $section_name }}
          <h1 class="flex-none">
            {{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}
          </h1>
        {{ end }}

      {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

      <section class="w-100 mw8">
        {{/* Range through the first $n_posts items of the section */}}
        {{ range (first $n_posts $section) }}
          <div class="relative w-100 mb4">
            {{ partial "summary-with-image.html" . }}
          </div>
        {{ end }}
      </section>

      {{ range $key, $value := .Site.Taxonomies }}
      <section class="w-100">
        <h1 class="f3">{{ humanize $key }}</h1>
        {{ range $value }}
          <h2 class="f5 fw4 dib mv1 mr3">
            <a href="{{ .Page.RelPermalink }}" class="link black dim">{{ .Page.Title }}</a>
          </h2>
        {{ end }}
      </section>
      {{ end }}

      {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
      {{ with .Site.GetPage "section" $section_name }}
        <a href="{{ .RelPermalink }}" class="link db f6 mt4 pa2 br3 bg-mid-gray white dim w4 tc">{{ i18n "allTitle" . }}</a>
      {{ end }}
      </section>

      </div>
  {{ end }}
{{ end }}
